@import "../general/mixins";
@import "../general/variables";

.about-me-container {
  .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-me-text {
      @include fontRubik(36px);
      margin-bottom: 55px;
    }
    .img-container {
      .background-img {
        width: $container-width;
        height: auto;
      }
    }
  }
}